@using Microsoft.AspNet.Identity;
@model mblyakher_blog.Models.Post

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Post Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <img style="width:900px; max-width:100%;" src="@Model.MediaUrl" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

    </dl>
        <hr />
    @if (User.IsInRole("Admin"))
     {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span> | </span>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) <span> | </span>
     }
    
    @Html.ActionLink("Back to List", "Index")
    <hr style="border-style:groove; border-width:4px; margin-top:150px;" />



    <h2 style="margin-bottom:30px;">Comments</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <h5 style="margin-bottom:15px;">Leave a Comment</h5>
        using (Html.BeginForm("CommentCreate", "Posts", FormMethod.Post, new { enctype = "Multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <input type="number" name="BlogPostId" value="@Model.Id" hidden />
            <div>
                <textarea style="font-size:0.75em; font-family:Calibri; padding-left:8px; padding-right:8px; width:500px;" type="text" name="Body" rows="7" required placeholder="Add a public comment..."></textarea>
            </div>
            <div>
                <input class="btn-sm btn-primary" type="submit" value="Share" />
            </div>
            <hr />
        }
    }
    
    @foreach (var comment in Model.Comments)
    {
        if (comment != null)
        {
            @*<p>@comment.Body - by @comment.Author.FirstName on @comment.Created.ToShortDateString()</p>*@
            <div style="font-weight:bold;" class="post-meta">@Html.DisplayFor(modelcomment => comment.Author.FirstName)</div>
            <div class="post-meta">@Html.DisplayFor(modelcomment => comment.Body)</div>
            <div class="post-meta">@comment.Created.ToString("d")</div>

            if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.Identity.GetUserId() == comment.AuthorId) // author id and user id is going to be the same number
            {
                <div style="font-size:0.75em;">
                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, null) <span> | </span>
                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, null) <span> | </span>
                </div>
                
            }
            <hr />
        }
    }



</div>